/* CUSTOM PROPERTIES */
:root {
  --orenge-color: #FF7E1B;
  --primary-color: #69707D;;
  --text-color: #1D2026;
  --body-color: #FAFAFA;
  --hover-color: #30C88F;
}

/* GLOBAL STYLES */
* {
  box-sizing: border-box;
}

*::before,
 ::after {
   box-sizing: border-box;
 }

 /* FOCUS */
 *:focus {
  outline: 3px dashed var(--hover-color);
  outline-offset: 3px;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
  scroll-behavior: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Kumbh Sans', 'Arial', sans-serif;
  font-weight: 400;
  color: var(--primary-color);
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* SITE-HEADER */
.site-header {
  background-color: #fff;
}

.site-header__container {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid  #E4E9F2;;
}

.site-header__logo-link {
  display: inline-block;
  flex-shrink: 0;
  transition: 0.4s ease;
  margin-right: 56px;
  transition: opacity 0.4s ease;
}

.site-header__logo-link:hover {
  opacity: 0.8;
}

.site-header__logo-link:active {
  opacity: 0.6;
}

.site-header__logo {
  display: block;
  width: 137px;
  height: 20px;
}

.sitenav__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 35px;
  list-style: none;
}

.sitenav__item {
  position: relative;
  padding-top: 41px;
  padding-bottom: 41px;
}

.sitenav__link::after{
  content: " ";
  display: inline-block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}

.sitenav__link:hover::after{
  background-color: var(--orenge-color);
}

.sitenav__item:not(:last-child) {
  margin-right: 33px;
}

.sitenav__link {
  display: inline-block;
  font-size: 15px;
  line-height: 26px;
  text-decoration: none;
  transition: color 0.4s ease;
  color: var(--primary-color);
}

.sitenav__link:hover {
  color: var(--text-color);
}

.sitenav__link:active {
  opacity: 0.6;
}

.site-header__block-img {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.site-header__icon {
  position: relative;
  width: 22px;
  height: 20px;
  color: var(--primary-color);
  transition: color 0.4s ease;
}

.site-header__icon:hover {
  color: var(--text-color);
}

/* CART-COUNTER */
.card-counter {
  position: absolute;
  top: -11px;
  right: -9px;
  min-width: 20px;
  display: flex;
  justify-content: center;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: var(--orenge-color);
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  border-radius: 6.5px;
}

.site-header__img {
  display: block;
  width: 50px;
  height: 50px;
  margin-left: 56px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: border 0.4s ease;
}

.site-header__img:hover {
  border: 2px solid var(--orenge-color);
}


/* SITE-HEADER-SHOPPING-CARD */
.shopping-card {
  display: none;
  position: absolute;
  width: 360px;
  top: 94px;
  right: -60px;
  padding-top: 24px;
  background-color: #FFFFFF;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
  border-radius: 10px;
}

.shopping-card__title-block {
  padding-bottom: 27px;
  border-bottom: 1px solid #E4E9F2;
}

.shopping-card__title {
  display: inline-block;
  margin: 0;
  margin-left: 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: var(--text-color);
}

/* EMPTY */
.shopping-card__text {
  display: none;
  padding-top: 77px;
  padding-bottom: 85px;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

/* SHOPPING-CARD-TEXT-JS */
.shopping-card-text-js {
  display: block;
}

.shopping-card-text--empty {
  display: block;
}

.shopping-card-d-block {
  display: block;
}

/* SHOPPING-CARD-PRODUCT */
.shopping-card__product {
  padding: 0;
  padding: 24px 24px 32px 24px;
  margin: 0;
  list-style: none;
}

/* SHOPPING-CARD-PRODUCT-JS */
.shopping-card__product-js {
  display: none;
}

.shopping-card__item {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.shopping-card__img {
  display: block;
  object-fit: cover;
  width: 50px;
  height: 50px;
  margin-right: 16px;
  border-radius: 4px;
}

/* SHOPPING-CARD__CONTENT */
.shopping-card__content {
  width: 100%;
  overflow: hidden;
  margin-right: 18px;
}

.shopping-card__info {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.shopping-card__cost {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.shopping-card__cost b {
  color: var(--text-color);
  margin-left: 10px;
}

.shopping-card__remove-btn {
  display: flex;
  padding: 0;
  background-color: transparent;
  border: none;
  align-self: center;
  color: #C3CAD9;
  transition: color 0.4s ease;
  cursor: pointer;
}

.shopping-card__remove-btn:hover {
  color: var(--orenge-color);
}

.shopping-card__submit-btn {
  display: inline-block;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 14px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  background-color: var(--orenge-color);
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
}

.shopping-card__submit-btn:active {
  transform: translateY(2px);
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* PRODUCT-PAGE */
.product-page {
  padding-top: 90px;
  padding-bottom: 90px;
}

.product-page__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* PRODUCT-PAGE-GALLERY */
.product-paga__gallery {
  display: flex;
  flex-direction: column;
}

/* IMG-SHOWCASE */
.img-showcase__showcase {
  position: relative;
  margin-bottom: 32px;
}


/* LIGHTBOX */
.lightbox {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(000, 000, 000, 0.75);
  overflow: auto;
}

.lightbox--open {
  display: block;
}

.lightbox__inner {
  width: 100%;
  max-width: 550px;
  margin: 90px auto;
}

.img-showcase--lightbox .img-showcase__active-img {
  display: block;
  width: 550px;
  height: 550px;
  margin-top: 25px;
  border-radius: 20px;
}

.lightbox__close-button {
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-left: auto;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: #D8D8D8;
  transition: color 0.4s ease;
}

.lightbox__close-button:hover {
  color: var(--orenge-color);
}
.lightbox__close-icon {
  display: block;
  width: 26px;
  height: 20px;
  margin-bottom: 24px;
}

.img-showcase__lightbox-toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  border-radius: 15px;
  background-color: transparent;
  cursor: zoom-in;
}

.img-showcase__control {
  position: relative;
  width: 56px;
  height: 56px;
  border: 0;
  border-radius: 50px;
  background-color: #fff;
}

.img-showcase__control--back {
  position: absolute;
  top: 237px;
  left: -28px;
  transition: color 0.4s ease;
}

.img-showcase__control--back:hover {
  color: var(--orenge-color);
}

.img-showcase__control--back:active {
  opacity: 0.6;
}

.img-showcase__control--next {
  position: absolute;
  top: 237px;
  right: -28px;
  transition: color 0.4s ease;
}

.img-showcase__control--next:hover {
  color: var(--orenge-color);
}

.img-showcase__control--next:active {
  opacity: 0.6;
}

.img-showcase__active-img {
  display: block;
  width: 445px;
  height: 445px;
  object-fit: cover;
  border-radius: 15px;
}

.img-showcase__thumbnails {
  display: flex;
  align-items: center;
  max-width: 445px;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: auto;
}

.img-showcase__thumbnail {
  flex-shrink: 0;
}

.img-showcase__thumbnail:not(:last-child) {
  margin-right: 31px;
}

.img-showcase__thumbnail-button {
  position: relative;
  display: block;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
}

.img-showcase__thumbnail-button::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  opacity: 0;
  border-radius: 10px;
}

.img-showcase__thumbnail-button:hover::after {
  opacity: 0.5;
}

.img-showcase__thumbnail-button:active::after {
  opacity: 0.6;
}

.img-showcase__thumbnail--active
.img-showcase__thumbnail-button::after {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px solid var(--orenge-color);
}

.img-showcase__thumbnail-img {
  display: block;
  width: 88px;
  height: 88px;
  object-fit: cover;
  border-radius: 10px;
}


/* PRODUCT-INFO*/
.product-info {
  width: 445px;
  margin-left: 125px;
}

.product-info__link {
  display: inline-block;
  margin-bottom: 24px;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  color: var(--orenge-color);
}

.product-info__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 32px;
  font-size: 44px;
  font-weight: 700;
  line-height: 48px;
  color: var(--text-color);
}

.product-info__text {
  margin: 0;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.price-block {
  margin-bottom: 10px;
}

.price-block__price {
  margin-right: 16px;
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  color: var(--text-color);
}

.price-block__discount {
  width: 51px;
  padding: 7px 8px 4px 8px;
  color: var(--orenge-color);
  background-color: #FFEEE2;
  border-radius: 6px;
}

.price-block__original-price {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-decoration-line: line-through;
  color: #B6BCC8;
}

.site-hero__btn-coutnt-block {
  display: flex;
  align-items: center;
}

.site-hero__basket-btn {
  display: flex;
  align-items: center;
  min-width: 272px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: var(--orenge-color);
  background-image: url("../img/basket-white.svg");
  background-repeat: no-repeat;
  background-position: 76px center;
  padding: 22px 76px 18px 105px;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  transition: opacity 0.4s ease;
}

.site-hero__basket-btn:hover {
  opacity: 0.8;
}

.site-hero__basket-btn:active {
  opacity: 0.6;
}


/* COUNT-BLOCK */
.count-block {
  width: 157px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F6F8FD;
  border-radius: 10px;
  padding: 0 16px 0 13px;
  white-space: nowrap;
  margin-right: 16px;
}

.count-block__count-btn {
  font-size: 28px;
  font-weight: 700;
  color: var(--orenge-color);
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.count-block__count-number {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--text-color);
  padding: 23px 0 17px;
}
