/* CUSTOM PROPERTIES */
:root {
  --orenge-color: #FF7E1B;
  --primary-color: #69707D;;
  --text-color: #1D2026;
  --body-color: #FAFAFA;
  --hover-color: #30C88F;
}

/* GLOBAL STYLES */
* {
  box-sizing: border-box;
}

*::before,
 ::after {
   box-sizing: border-box;
 }

 /* FOCUS */
 *:focus {
  outline: 3px dashed var(--hover-color);
  outline-offset: 3px;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
  scroll-behavior: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Kumbh Sans', 'Arial', sans-serif;
  font-weight: 400;
  color: var(--primary-color);
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* SITE-HEADER */
.site-header {
  background-color: #fff;
}

.site-header__container {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid  #E4E9F2;;
}

.site-header__logo-link {
  display: inline-block;
  flex-shrink: 0;
  transition: 0.4s ease;
  margin-right: 56px;
  transition: opacity 0.4s ease;
}

.site-header__logo-link:hover {
  opacity: 0.8;
}

.site-header__logo-link:active {
  opacity: 0.6;
}

.site-header__logo {
  display: block;
  width: 137px;
  height: 20px;
}

.sitenav__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 35px;
  list-style: none;
}

.sitenav__item {
  position: relative;
  padding-top: 41px;
  padding-bottom: 41px;
}

.sitenav__link::after{
  content: " ";
  display: inline-block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}

.sitenav__link:hover::after{
  background-color: var(--orenge-color);
}

.sitenav__item:not(:last-child) {
  margin-right: 33px;
}

.sitenav__link {
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.4s ease;
}

.sitenav__link:hover {
  color: var(--text-color);
}

.sitenav__link:active {
  opacity: 0.6;
}

.site-header__block-img {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.site-header__icon {
  width: 22px;
  height: 20px;
  color: var(--primary-color);
  transition: color 0.4s ease;
}

.site-header__icon:hover {
  color: var(--text-color);
}

.site-header__img {
  display: block;
  width: 50px;
  height: 50px;
  margin-left: 56px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: border 0.4s ease;
}

.site-header__img:hover {
  border: 2px solid var(--orenge-color);
}


/* SITE-HEADER-MODAL-CARD */
.site-header__modal-card-d-none {
  display: none;
  position: absolute;
  width: 360px;
  top: 94px;
  right: -60px;
  padding-top: 24px;
  padding-bottom: 85px;
  background-color: #FFFFFF;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
  border-radius: 10px;
}

.site-header__modal-card-title-block {
  padding-bottom: 27px;
  border-bottom: 1px solid #E4E9F2;
}

.site-header__modal-card-title {
  display: inline-block;
  margin: 0;
  margin-left: 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: var(--text-color);
}

.site-header__modal-card-text {
  margin: 0;
  margin-top: 77px;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: var(--primary-color);
}

.modal-card-d-block {
  display: block;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* SITE-HERO */
.site-hero {
  padding-top: 90px;
}

.site-hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* IMG-BLOCK */
.site-hero__img-block {
  display: flex;
  flex-direction: column;
}

.site-hero__img {
  display: block;
  width: 445px;
  border-radius: 15px;
}

/* IMG-LIST */
.site-hero__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  list-style: none;
}

.site-hero__item:not(:last-child) {
  margin-right: 31px;
}

.site-hero__img-link {
  display: inline-block;
}

.site-hero__shoes-img {
  display: block;
  width: 88px;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: opacity, border 0.4s ease;
}

.site-hero__shoes-img:hover {
  opacity: 0.4;
  border: 2px solid var(--orenge-color);
}

.site-hero__block {
  width: 445px;
  margin-left: 125px;
}

.site-hero__link {
  display: inline-block;
  margin-bottom: 24px;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  color: var(--orenge-color);
}

.site-hero__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 32px;
  font-size: 44px;
  font-weight: 700;
  line-height: 48px;
  color: var(--text-color);
}

.site-hero__text {
  margin: 0;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: var(--primary-color);
}

.price-block {
  margin-bottom: 10px;
}

.price-block__price {
  margin-right: 16px;
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  color: var(--text-color);
}

.price-block__discount {
  width: 51px;
  padding: 7px 8px 4px 8px;
  color: var(--orenge-color);
  background-color: #FFEEE2;
  border-radius: 6px;
}

.price-block__original-price {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-decoration-line: line-through;
  color: #B6BCC8;
}

.site-hero__btn-coutnt-block {
  display: flex;
  align-items: center;
}

.site-hero__basket-btn {
  display: flex;
  align-items: center;
  min-width: 272px;
  margin-left: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  background-color: var(--orenge-color);
  background-image: url("../img/basket-white.svg");
  background-repeat: no-repeat;
  background-position: 76px center;
  padding: 22px 76px 18px 105px;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  transition: opacity 0.4s ease;
}

.site-hero__basket-btn:hover {
  opacity: 0.8;
}

.site-hero__basket-btn:active {
  opacity: 0.6;
}


/* COUNT-BLOCK */
.count-block {
  width: 157px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F6F8FD;
  border-radius: 10px;
  padding: 0 16px 0 13px;
  white-space: nowrap;
  margin-right: 16px;
}

.count-block__count-btn {
  font-size: 28px;
  font-weight: 700;
  color: var(--orenge-color);
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.count-block__count-number {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--text-color);
  padding: 23px 0 17px;
}
